%p#notice= notice

%h3
  %b Category:
  = category.name
  = link_to 'Edit', edit_category_path(category), class: 'btn btn-default' if user_signed_in? && current_user.admin?

= render 'products'

- if user_signed_in?
  = render 'products/form'

.col-md-8
  = link_to 'Back', categories_path, class: 'btn btn-primary'
